---
import "../styles/main.css";
import { ViewTransitions } from "astro:transitions";
import Meta from "../components/Meta.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Kyle Kettler - Frontend Software Engineer",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="bg-zinc-950 text-zinc-100 selection:bg-zinc-300 selection:text-zinc-900 antialiased"
  >
    <div
      class="min-h-screen pb-4 bg-gradient-to-tl from-zinc-950 via-zinc-700/10 to-zinc-950/80"
    >
      <Navbar />
      <slot />
    </div>
  </body>
</html>
