---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/Typography/H1.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About Me | Kyle Kettler">
  <Main>
    <div class="flex flex-col gap-8">
      <H1>About Me</H1>
      <p>
        Before I became a software engineer I spent a decade in various design
        roles. Beginning with print and graphic design, then moving to web and
        product design, then learing basic web development through low-code
        tools like Webflow.
      </p>
      <p>
        In 2016, I helped start and run a digital agency called Coefficient. We
        helped b2b manufacturing and technology companies communicate their
        value through positioning and design. I oversaw the creative strategy,
        web design, and web development for our clients.
      </p>
      <p>
        In 2021, I co-founded LeadAnswer, a sales sms automation platform. I am
        the lead product designer and front-end engineer.
      </p>
      <p>
        In 2023, I attended LearningFuze to learn modern web application
        development. My learning was focused on the PERN stack (PostgreSQL,
        Express, React, Node.js) and TypeScript. I studied under Robert Gardner,
        who, before joining LearningFuze, spent 15 years as an engineer at
        Google, ending his time there as a Director of Software Engineering.
      </p>
      <p>
        I am passionate about building products that are simple, intuitive, and
        delightful to use. I love working with React, TypeScript, and Tailwind
        CSS.
      </p>
      <p>
        Outside of work I am a husband, dog dad, gamer, perpetual jiu jitsu
        newbie, mechanical keyboard nerd, and recovering metalhead.
      </p>
    </div>
    <Footer />
  </Main>
</Layout>
