---
import Layout from "../layouts/Layout.astro";
import RaylibColorConverter from "../components/React/RaylibColorConverter";
---

<Layout title="Raylib Color Palette Tool | Kyle Kettler">
    <div class="flex animate-fade-in flex-col gap-8">
      <RaylibColorConverter client:load />
    </div>
</Layout>
