---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Kyle Kettler">
  <div class="pt-12">
    <div class="flex gap-4 mb-4">
      <h1 class="text-6xl font-clashLight text-slate-200">Hi, I'm Kyle.</h1>
    </div>
    <p class="text-lg font-clashLight text-slate-200 tracking-wide">
      I'm a <span class="text-blue-300">frontend engineer</span> and <span
        class="text-blue-300">designer</span
      >. I've spent the last decade designing and building online projects for
      clients, in-house, and for fun.
    </p>
  </div>
</MainLayout>
