---
import MainLayout from "../layouts/MainLayout.astro";
import Divider from "../components/Divider.astro";
---

<MainLayout title="Kyle Kettler">
  <div class="w-full bg-slate-100 rounded-3xl p-6">
    <div class="flex gap-4 mb-80">
      <h1 class="text-6xl font-light">Hi, I'm Kyle.</h1>
    </div>
    <h2 class="text-4xl font-light">
      I've spent the last decade designing and building online projects for
      clients, in-house, and for fun.
    </h2>
  </div>
  <Divider title="Primary Projects" />
</MainLayout>
