---
type Props = {
  to: string;
  blank?: boolean;
};

const { to, blank } = Astro.props;
---

<a
  href={to}
  class="inline-block font-bold text-teal-200 underline underline-offset-[2.5px] transition-all duration-200 hover:text-teal-400 hover:underline-offset-4"
  target={blank ? "_blank" : ""}
>
  <slot />
</a>
