---

---

<div class="box relative rounded-xl p-4 flex flex-col justify-center sm:p-6">
  <slot />
</div>
<style>
  .box {
    border: 1px solid #0000;
    background:
      linear-gradient(#18181b, #18181b) padding-box,
      linear-gradient(var(--angle), #18181b, #f7f8fb71) border-box;
    animation: 6s rotate linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
</style>
