---
import InlineLink from "./Typography/InlineLink.astro";
const year = new Date().getFullYear();
---

<footer
  class="mt-12 flex w-full items-center justify-between pb-4 text-xs text-zinc-500"
>
  <div>© {year} • v1.1</div>
  <div class="flex items-center gap-2">
    <InlineLink to="/uses">Uses</InlineLink>
    <InlineLink to="https://github.com/kttlr" blank>Github</InlineLink>
    <InlineLink to="https://www.linkedin.com/in/kylekettler/" blank>LinkedIn</InlineLink>
  </div>
</footer>
