---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex justify-between items-center pt-8 max-w-2xl mx-auto px-4 max-sm:px-6"
>
  <p class="font-light tracking-tight text-lg">Kyle Kettler</p>
  <div class="flex gap-4 items-center text-sm font-light text-zinc-100/70">
    <NavLink to="/" text="Home" />
    <NavLink to="/projects" text="Projects" />
    <NavLink to="/about" text="About" />
  </div>
</nav>
