---

---

<nav
  class="flex justify-between items-center pt-8 max-w-xl mx-auto px-4 max-sm:px-6"
>
  <p class="font-semibold tracking-tight text-lg">Kyle Kettler</p>
  <div class="flex gap-4 items-center">
    <a href="/" class="text-sm">Home</a>
    <a href="/projects" class="text-sm">Projects</a>
    <a href="/about" class="text-sm">About</a>
  </div>
</nav>
