---
import "../styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-zinc-900 text-zinc-50 antialiased selection:bg-emerald-400 selection:text-slate-100"
  >
    <main class="max-w-164 mx-auto flex flex-col gap-8 px-8">
      <slot />
    </main>
  </body>
</html>
