---
interface Props {
  type: "button" | "submit";
  theme: "primary" | "secondary";
  size: "sm" | "md" | "lg";
}

const { type = "button", theme, size = "md" } = Astro.props;
let primary;

if (theme === "primary") {
  primary = true;
}
---

{
  primary && (
    <button
      {type}
      data-size={size}
      class="border border-zinc-700 bg-zinc-800 rounded py-1 px-2 text-sm items-center leading-4 text-neutral-100 text-center flex justify-center "
    >
      <slot />
    </button>
  )
}
