@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("/fonts/ClashGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("/fonts/ClashGrotesk-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Switzer-Bold";
  src: url("/fonts/Switzer-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
